## Properties

[pcBox]
companyName=PC Box
baseUrl=https://www.pcbox.com

# Lists of url & categories we are interested in. There is no Sitemap we can collect and filter.
companyUrl=("https://www.pcbox.com/categorias/procesadores?nodo=18","https://www.pcbox.com/categorias/memoria-ram?nodo=23","https://www.pcbox.com/categorias/placas-base?nodo=17","https://www.pcbox.com/categorias/discos-duros?nodo=19","https://www.pcbox.com/categorias/discos-ssd?nodo=106","https://www.pcbox.com/categorias/cajas?nodo=16","https://www.pcbox.com/categorias/tarjetas-graficas?nodo=20","https://www.pcbox.com/categorias/tarjetas-de-sonido?nodo=28","https://www.pcbox.com/categorias/fuentes-de-alimentacion?nodo=281")

category=("Procesadores","Memoria RAM","Placas Base","Discos Duros","Discos Duros","Torres","Tarjetas graficas","Tarjetas de sonido","Fuentes A limentacion")

# Dataset will be kept in this cvs file
csvName = pcbox_dataSet.csv
score=0

#TimeOut of 30 segs.
timeOut = 30
# Apply time Delay between requests if it goes above threshold (in secs)
responseTimeThreshold = 3
# Minimun Time Interval in seconds between ALL our requests.
minInterval = 2


